.Navigation {
    width: 100%; 
    height: 100%; 
    position: relative
}

.Brand {
    left: 96;
    top: 41;
    position: absolute;
    color: #426B1F;
    size: 32;
    font-family: Newsreader;
    font-weight: 500;
    line-height: 32;
    word-wrap: 'break-word'   
}